name: Telegram Notifications
on:
  pull_request:
    types: [opened, closed]
jobs:
  telegram:
    runs-on: ubuntu-latest
    steps:
      - name: send telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }} 
          format: markdown
          message: ${{ github.repository }} Pull request ${{ github.event.action }} with title ${{github.event.pull_request.title}}
